In [5]:
import pandas as pd
import datetime as dt
from matplotlib import pyplot as plt

In [6]:
df = pd.read_csv("./data/apartments.csv", delimiter=";", index_col="ID")
df.head(10)

,DISTANCE,STOP_COUNT,COST,FITNESS,INTERNET,PETS_ALLOWED,ADDITIONAL_INFO
ID,,,,,,,
1,4,1,48000,23,3,Да,Подземный паркинг
2,14,2,25000,24,1,Нет,Панорама с видом на парк Сосновка.
3,24,1,45000,8,2,Да,Внутренний двор с игровыми и спортивными зонам...
4,22,1,25000,16,1,Да,NaN
5,7,11,54000,29,4,Да,"Внутренний двор с ландшафтным озеленением, игр..."
6,5,8,28000,29,0,Да,NaN
7,4,5,26000,26,1,Да,NaN
8,26,11,25000,22,2,Да,Парк отдыха со специально оборудованными зонам...
9,28,8,27000,23,4,Да,NaN
10,19,12,23000,12,4,Да,Рядом с домом расположены Суздальские озера и ...

In [ ]:
# remove 0 internet rows
df = df[df["INTERNET"] != 0]

,DISTANCE,STOP_COUNT,COST,FITNESS,INTERNET,PETS_ALLOWED,ADDITIONAL_INFO
ID,,,,,,,
1,4,1,48000,23,3,Да,Подземный паркинг
2,14,2,25000,24,1,Нет,Панорама с видом на парк Сосновка.
3,24,1,45000,8,2,Да,Внутренний двор с игровыми и спортивными зонам...
4,22,1,25000,16,1,Да,NaN
5,7,11,54000,29,4,Да,"Внутренний двор с ландшафтным озеленением, игр..."
...,...,...,...,...,...,...,...
196,13,7,23000,7,4,Да,NaN
197,22,5,40000,4,1,Да,Парк отдыха со специально оборудованными зонам...
198,4,8,24000,20,1,Да,NaN
199,27,5,41000,25,2,Да,NaN
200,11,10,45000,24,4,Нет,NaN

In [15]:
# add normalized columns
df["NORM_STOP_COUNT"] = (df["STOP_COUNT"].max() - df["STOP_COUNT"]) / (df["STOP_COUNT"].max() - df["STOP_COUNT"].min())
df["NORM_COST"] = (df["COST"].max() - df["COST"]) / (df["COST"].max() - df["COST"].min())
df["NORM_DISTANCE"] = (df["DISTANCE"].max() - df["DISTANCE"]) / (df["DISTANCE"].max() - df["DISTANCE"].min())
df["NORM_FITNESS"] = (df["FITNESS"].max() - df["FITNESS"]) / (df["FITNESS"].max() - df["FITNESS"].min())
df["NORM_INTERNET"] = (df["INTERNET"] - df["INTERNET"].min()) / (df["INTERNET"].max() - df["INTERNET"].min())
df.head(5)

,DISTANCE,STOP_COUNT,COST,FITNESS,INTERNET,PETS_ALLOWED,ADDITIONAL_INFO,NORM_STOP_COUNT,NORM_COST,NORM_DISTANCE,NORM_FITNESS,NORM_INTERNET
ID,,,,,,,,,,,,
1,4,1,48000,23,3,Да,Подземный паркинг,1.000000,0.289474,0.961538,0.230769,0.666667
2,14,2,25000,24,1,Нет,Панорама с видом на парк Сосновка.,0.909091,0.894737,0.576923,0.192308,0.000000
3,24,1,45000,8,2,Да,Внутренний двор с игровыми и спортивными зонам...,1.000000,0.368421,0.192308,0.807692,0.333333
4,22,1,25000,16,1,Да,NaN,1.000000,0.894737,0.269231,0.500000,0.000000
5,7,11,54000,29,4,Да,"Внутренний двор с ландшафтным озеленением, игр...",0.090909,0.131579,0.846154,0.000000,1.000000

In [24]:
df["SCORE"] = (
    df["NORM_STOP_COUNT"] +
    df["NORM_COST"] +
    df["NORM_DISTANCE"] +
    df["NORM_FITNESS"] * 0.5 +
    df["NORM_INTERNET"] * -0.2
)
df = df.sort_values(by="SCORE", ascending=False)
print(df[['DISTANCE', 'STOP_COUNT', 'COST', 'FITNESS', 'INTERNET', 'SCORE']].head())

     DISTANCE  STOP_COUNT   COST  FITNESS  INTERNET     SCORE
ID
141         4           3  23000        4         1  3.207858
63         14           1  22000        5         3  2.878812
23         11           1  25000       20         1  2.760121
11         13           2  21000       11         3  2.737296
81         14           1  35000        3         1  2.708502